.subscribe-holder.form-control{border-radius:50px}.subscribe-holder input{background:0 0;font-size:1.4rem}.services-ttl{font-size:2.4rem;color:#823cff}.space-bottom{margin-bottom:5rem}
@media (min-width:320px) and (max-width:480px){.cookiesDiv{display:block;padding: 15px;
    width:100%;}}